.outer-div{
    width:28%;
    padding:20px;
    border-radius: 5px;
    max-width: 500px;
    min-width: 300px;
    // border: 1px solid rgba(223, 223, 223, 0.616);
    // background: #EEF0F4;
    border-radius: 5%;
    background: linear-gradient(145deg, #ffffffd7, #ffffff);
    box-shadow: 6.91px 6.91px 15px #ebd8d8, -6.91px -6.91px 15px #ebd8d8;
    border: 1px solid #ffffff;
}