.applied,.pending,.approved,.rejected, .review-signup, .search-database, .queries{
    padding: 2rem;
    .titile{
        // border-bottom: 1px solid rgb(201, 201, 201);
        padding-bottom: 5px;
        margin-bottom: 0px;
        font-weight: 700;
        color: rgb(0, 72, 82);
    }
    .component-header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    table{
        width: 100%;
    }
    .applied-table,.pending-table,.approved-table, .rejected-table, .review-signup-table{
        th{
            background: rgba(245, 245, 245, 0.521);
        }
        td,th{
            padding: 1rem 0rem;
            padding-left: .5rem;
        } 
        td{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        tr{
            border: 1px solid rgb(224, 224, 224);
            padding: 1rem;
        }
        tr:hover{

            border: 1px solid rgb(224, 224, 224);
            background: rgb(243, 243, 243);
        }
        .description{
            max-width: 18rem;
        }
        .status{
            span{
                color: rgb(202, 172, 0);
                background-color: rgb(255, 247, 173);
                border-radius: 5px;
                padding: 1px 2px;
            }
        }
        button{
            min-width: 80px;
        }
    }
}

.error{
    background: #ff153433;
    color: #6e0202;
    padding:3px 8px;
    border-radius: 7px;
    width: 80px;
    display: block;
    text-align: center;
}
.success{
    background: #00ff0d38;
    color: #026e41;
    padding:3px 8px;
    border-radius: 7px;
    width: 80px;
    display: block;
    text-align: center;
}