.header{
    display: flex ;
    justify-content: space-between ;
    margin-bottom: 20px;
    // background-color: transparent;
    // background-color: #004f70;
    align-items: center;
    .logo{
        h4{
            color:black
        }
    }
    .profile{
        display: flex;
        align-items: center;
        button{
            background: transparent !important;
            outline: none !important;
            border: none !important;
            box-shadow: none !important;
        }
    }
    .right-header{
        display:flex;
        .notif-icon{
            // margin-right: 10px;
        }
        .username{
            // margin-right:3px
        }
    }
    .dropdown-menu{ 
        width:100px;
        background-color: white;
        box-shadow: 1px 1px 1px rgb(228, 228, 228);
        padding: 0px;
        .dropdown-item{
            padding: .7rem 1rem;
        }
    }
    
}
