
.search-database{
    .title{
        border-bottom: 1px solid rgb(201, 201, 201);
        padding-bottom: 5px;
        margin-bottom: 20px;
        font-weight: 700;
        color: rgb(0, 72, 82);
    }
    .search-body{
        padding:0px;
    }
}