.auth-modal-options{
    display: flex;
    flex-direction: column;
    .btn-primary{
        margin-top:5px;
    }
}
.modal-header{
    text-align: center;
    justify-content: center !important;
}
.reviewer-btn{
    margin-top:5px
}