.info-card{
    padding:10px;
    width:15%;
    border:1px;
    border-radius: 5px;
    background-color: aliceblue;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(202, 201, 201);
    .text{
        text-align: center;
        user-select: none;
    }
    .count{
        font-size:30px;
        text-align: center;
        user-select: none;
    }
}
.info-card:hover{
    background-color: rgb(206, 232, 255);
}