.btn{
    // background-color: rgb(52, 255, 52);
    // border-radius:10px;
    // background-color: rgb(6, 219, 6) !important;
    // padding:2px 6px 2px 6px !important;
    // width:90px !important;
    margin-left:5px;
    border-radius:7px;
}
.btn-success{
    box-shadow: 1px 2px 3px rgb(182, 182, 182);
}
.btn-primary{
    background-color: rgb(0, 60, 255);
    box-shadow: 1px 2px 3px rgb(182, 182, 182);
}